@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

@layer utilities {
  .transition-timing-snappy {
    @apply ease-snappier-in delay-150 duration-500;
  }

  .transition-timing-snappier {
    @apply ease-snappier-in delay-150 duration-1000;
  }
}
